# This file is part of the HörTech Open Master Hearing Aid (openMHA)
# Copyright © 2013 2014 2015 2016 2017 HörTech gGmbH
#
# openMHA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, version 3 of the License.
#
# openMHA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License, version 3 for more details.
#
# You should have received a copy of the GNU Affero General Public License, 
# version 3 along with openMHA.  If not, see <http://www.gnu.org/licenses/>.

# The readme recommends copying all plugins into one "bin" directory.
bin
lib

# Editor backup and lock files
*~
.#*
\#*#
*.bak
~$*
.~lock*

# system-specific configuration
config.mk

# An artifact left by octave when it crashes
mha/tools/mfiles/octave-workspace

# platform-specific directories where build artifacts are stored.
x86_64-linux-gcc-5
x86_64-linux-gcc-7
i686-linux-gcc-5
i686-MinGW-gcc-6
armv7l-linux-gcc-4.9
x86_64-Darwin-clang
# coverage analysis artifacts
coverage.info
coverage
*.gcda
*.gcno

# octave specific files
mha/tools/mfiles/classpath.txt

# Local Variables:
# coding: utf-8-unix
# End:
