# This file is part of the HörTech Open Master Hearing Aid (MHA)
# Copyright © 2013 2014 2015 2016 HörTech gGmbH
#
# openMHA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, version 3 of the License.
#
# openMHA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License, version 3 for more details.
#
# You should have received a copy of the GNU Affero General Public License, 
# version 3 along with openMHA.  If not, see <http://www.gnu.org/licenses/>.


*~
.#*
#*#
*.bak
~$*
.~lock*
config.mk
autom4te.cache
build
mha.creator.user

# Local Variables:
mha/matlab/tools/octave-workspace

# coding: utf-8-unix
# End:
meeting_notes/openMHA_status_May-17/openMHA_status_June-17.aux
meeting_notes/openMHA_status_May-17/openMHA_status_June-17.bbl
meeting_notes/openMHA_status_May-17/openMHA_status_June-17.blg
meeting_notes/openMHA_status_May-17/openMHA_status_June-17.nav
meeting_notes/openMHA_status_May-17/openMHA_status_June-17.out
meeting_notes/openMHA_status_May-17/openMHA_status_June-17.pdf
meeting_notes/openMHA_status_May-17/openMHA_status_June-17.snm
meeting_notes/openMHA_status_May-17/openMHA_status_June-17.synctex
meeting_notes/openMHA_status_May-17/openMHA_status_June-17.toc
