# This file is part of the HörTech Open Master Hearing Aid (openMHA)
# Copyright © 2022 Hörzentrum Oldenburg gGmbH
#
# openMHA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, version 3 of the License.
#
# openMHA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License, version 3 for more details.
#
# You should have received a copy of the GNU Affero General Public License, 
# version 3 along with openMHA.  If not, see <http://www.gnu.org/licenses/>.

srate = 44100
fragsize = 512
nchannels_in = 1

iolib = MHAIOJack
io.con_in = [system:capture_1]
io.con_out = [system:playback_1]

mhalib = mhachain
mha.algos = [rmslevel acrec noise]

mha.acrec.prefix = calibration_values
mha.acrec.use_date = no
mha.acrec.varname = rmslevel_level_db
mha.acrec.record = yes
mha.noise.lev = 80
mha.noise.mode = replace
