# This file is part of the HörTech Open Master Hearing Aid (openMHA)
# Copyright © 2017 2018 HörTech gGmbH
#
# openMHA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, version 3 of the License.
#
# openMHA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License, version 3 for more details.
#
# You should have received a copy of the GNU Affero General Public License, 
# version 3 along with openMHA.  If not, see <http://www.gnu.org/licenses/>.

nchannels_in = 2
fragsize = 256
srate = 44100

# MHA library name
mhalib = transducers

# IO plugin library name
iolib = MHAIOJack

mha.plugin_name = db
mha.db.plugin_name = overlapadd
mha.db.fragsize = 64

mha.calib_in.peaklevel = [90 90]
mha.calib_out.peaklevel = [90]

mha.db.overlapadd.fftlen = 256
mha.db.overlapadd.wnd.len = 128
mha.db.overlapadd.plugin_name = mhachain


# list of plugins
mha.db.overlapadd.mhachain.algos = [ ... 
fftfilterbank ... 
dc ... 
combinechannels ...
]

# Frequency bands
mha.db.overlapadd.mhachain.fftfilterbank.f = [200 2000]

# gaintable data in dB gains
mha.db.overlapadd.mhachain.dc.gtdata = [[10 -10 -30];...
                                     [0 -25 -50];...
                                     [10 -10 -30];...
                                     [0 -25 -50]]

# input level for first gain entry in dB SPL
mha.db.overlapadd.mhachain.dc.gtmin = [0]

# level step size in dB
mha.db.overlapadd.mhachain.dc.gtstep = [30]

# The large step size requires log based interpolation.
# Otherwise gains between mesh points would be too high.
mha.overlapadd.mhachain.dc.log_interp = yes

# attack time constant in s
mha.db.overlapadd.mhachain.dc.tau_attack = [0.02]

# decay time constant in s
mha.db.overlapadd.mhachain.dc.tau_decay = [0.1]

# Name of fftfilterbank plugin.  Used to extract frequency information.
mha.db.overlapadd.mhachain.dc.fb = fftfilterbank

mha.db.overlapadd.mhachain.combinechannels.outchannels = 2


io.con_in = [system:capture_1 system:capture_2]
io.con_out = [system:playback_1 system:playback_2]


