.axis path {
    stroke: black;
}

.line {
    fill: none;
    stroke-opacity: 0.75;
    fill-opacity: 0;
}

.filled {
    stroke: none;
    fill: none;
    fill-opacity: 0.7;
}

#d3plot {
    margin-top: 0;
    margin-left: 0;
}

.tick {
    fill: none;
}

text {
    text-anchor: middle;
    dominant-baseline: central;
}

/*
 * overrides for the time axes
 */

[class="t axis"] .tick {
    fill: black;
}

[class="t axis"] text {
    dominant-baseline: auto;
}
