.axis path {
    stroke: black;
}

.line {
    stroke-opacity: 0.75;
    fill-opacity: 0;
}

.filled {
    stroke: none;
    fill: none;
    fill-opacity: 1;
}

#d3plot {
    margin-top: 0;
    margin-left: 0;
}
