#The number of channels we want to process
nchannels_in = 2
#Number of frames to be processed in each block.
fragsize = 64
#Sampling rate. Has to be the same as the input signal of JACK
srate = 44100
#Again, we want to use the plugin "mhachain"
mhalib = mhachain
#Here we will only use one plugin "gain"
mha.algos=[ gain ]
#Set max and min gain factors in dB
mha.gain.min=-20
mha.gain.max=20
#two gain factors (left and right)
mha.gain.gains=[ -10 10 ]
#In this example, we load the IO library that connects
#the MHA to the Jack audio server.
iolib = MHAIOJackdb
# The following variable is used to select the input sound
# channel(s), following the usual Jack nomenclature
io.con_in = [system:capture_1 system:capture_2]
# con_out sets the output channels
io.con_out = [system:playback_1 system:playback_2]
