srate = 16000
nchannels_in = 4
fragsize = 160

iolib = MHAIOFile

mhalib = overlapadd

# configure OA node for steering beamformer filters
mha.fftlen = 512
mha.wnd.len = 320
mha.zerownd.type = hanning
mha.plugin_name = mhachain:bfChain

mha.bfChain.algos = [route:left_in acSteer:mvdr steerbf:left route:right_in steerbf:right route:out]

mha.bfChain.left_in.out = [:0 :1 :2 :3]
mha.bfChain.left_in.ac = [:0 :1 :2 :3]

#configure steervec for the left reference microphone
mha.bfChain.mvdr.steerFile = mha/configurations/MVDR_iso_norm_bte_16KHz_4ch_lr_FFT512_-180-5-180.txt
mha.bfChain.mvdr.nsteerchan = 584
mha.bfChain.mvdr.acSteerName1 = acSteerLeft
mha.bfChain.mvdr.acSteerName2 = acSteerRight
mha.bfChain.mvdr.nrefmic = 2

#configure steerbf for the left reference microphone
mha.bfChain.left.bf_src = acSteerLeft
mha.bfChain.left.angle_ind = 0

# route the input signal to the beamformer with the right reference microphone
mha.bfChain.right_in.out = [left_in:0 left_in:1 left_in:2 left_in:3]
mha.bfChain.right_in.ac = [:0]


#configure steerbf for the right reference microphone
mha.bfChain.right.bf_src = acSteerRight
mha.bfChain.right.angle_ind = 0

# route the filter outputs of the left and right beamformers to the output
mha.bfChain.out.out = [right_in:0 :0]

