srate = 48000
nchannels_in = 4
fragsize = 480

# Audio IO library to use.
iolib = MHAIOJack
io.con_in = [system:capture_5 system:capture_6]
# io.con_in = [system:capture_5 system:capture_6 system:capture_7 system:capture_8]
io.con_out = [system:playback_7 system:playback_8]

mhalib = resampling

mha.srate = 16000
mha.fragsize = 160

mha.plugin_name = mhachain:chain

mha.chain.algos = [gain doasvm_feature_extraction:gcc doasvm_classification:svm acPooling_wave:pool acsave:doasvm_save acmon:doasvm_mon route:all]

# gain plugin
mha.chain.gain.gains = [1 1]

# configure doasvm_feature_extraction plugins, which compute the GCC matrices
mha.chain.gcc.fftlen = 160
mha.chain.gcc.nupsample = 4
mha.chain.gcc.max_lag = 20
mha.chain.gcc.vGCC_name = vGCC_ac

# merge all channels for signal processing
mha.chain.all.out = [:0 :1]

# configure doasvm_classification plugin by loading the SVM parameters
mha.chain.svm?read:../DOA-SVM/matrices_inear_earpieces.cfg
mha.chain.svm.vGCC_name = vGCC_con_ac




# configure acPooling_wave plugin for pooling the SVM estimations of the recent history
mha.chain.pool.p_name = p
mha.chain.pool.pool_name = pool
mha.chain.pool.max_pool_ind_name = pool_max
mha.chain.pool.numsamples = 180
mha.chain.pool.pooling_wndlen = 300
mha.chain.pool.pooling_type = mean
mha.chain.pool.upper_threshold = 0.1
mha.chain.pool.neighbourhood = 4
mha.chain.pool.alpha = 0


mha.chain.doasvm_save.name = ../MHA-Configurations/4_channel_doasvm_live_acsave.mat
mha.chain.doasvm_save.fileformat = mat4
mha.chain.doasvm_save.reclen = 10
mha.chain.doasvm_save.vars = [p p_max pool pool_max vGCC_ac_1 vGCC_ac_2 vGCC_ac_3 vGCC_ac_4 vGCC_ac_5 vGCC_ac_6 vGCC_con_ac]

#run the configuration
cmd = start
