---
layout: default
---
{% assign post = page %}
{% assign category = site.my_categories | where: "slug", post.category %}
{% assign category = category[0] %}
{% if category %}
    {% capture category_content %}<a class="label" href="{{ category.url }}">{{ category.name }}</a>{% endcapture %}
{% endif %}

<h2>{{ post.title }}</h2>
<time>{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</time>
</br>
<tag>{{ category_content }}</tag>
</br>
{{ content }}

